{% load static %}

  <script src="{% static 'majestic-thema/vendors/base/vendor.bundle.base.js' %}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  {% comment %} <script src="{% static 'majestic-thema/vendors/chart.js/Chart.min.js' %}"></script> {% endcomment %}
  {% comment %} <script src="{% static 'majestic-thema/vendors/datatables.net/jquery.dataTables.js' %}"></script> {% endcomment %}
  {% comment %} <script src="{% static 'majestic-thema/vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}"></script> {% endcomment %}
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'majestic-thema/js/off-canvas.js' %}"></script>
  <script src="{% static 'majestic-thema/js/hoverable-collapse.js' %}"></script>
  <script src="{% static 'majestic-thema/js/template.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'majestic-thema/js/dashboard.js' %}"></script>
  <script src="{% static 'majestic-thema/js/data-table.js' %}"></script>
  <script src="{% static 'majestic-thema/js/jquery.dataTables.js' %}"></script>
  <script src="{% static 'majestic-thema/js/dataTables.bootstrap4.js' %}"></script>
  <!-- End custom js for this page-->

     <!-- Sweetalert2 -->
    <script src="{% static 'vendor/sweetalert2/sweetalert2.all.min.js' %}"></script>