{% load static %}

  <link rel="stylesheet" href="{% static 'majestic-thema/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'majestic-thema/vendors/base/vendor.bundle.base.css' %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'majestic-thema/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'majestic-thema/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- endinject -->

