          <a class="btn btn-info" href="{% url 'rf:eda-plot' 'default'%}">
              View Plot &nbsp;
              <i class='mdi mdi-chart-scatterplot-hexbin' ></i> 
          </a>
          <a class="btn alert-secondary" href='#'>
              Eksplore Data &nbsp;
              <i class='mdi mdi-timetable' ></i> 
          </a>
          <a class="btn btn-info" href="{% url 'rf:eda-pca'%}">
              View PCA &nbsp;
              <i class='mdi mdi-chart-areaspline' ></i> 
          </a>