<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>dataset:{{get_dataset}}</p>
  <p>label:{{get_label}}</p>
  <p>fitur:{{get_fitur}}</p>
  <p>hyperparameter:{{get_hyperparameter}}</p>
  <hr>
  <div>out 1 {{out1|safe}}</div>
  <div>out 2 {{out2|safe}}</div>
  <div>out 3 {{out3|safe}}</div>
  <div>out 4 {{out4|safe}}</div>
  <div>out 5 {{out5|safe}}</div>
  <div>out 6 {{out6|safe}}</div>
  <div>out 7 {{out7|safe}}</div>
  <div>out 8 {{out8|safe}}</div>
  <div>out 9 {{out9|safe}}</div>
  <div>out 10 {{out10|safe}}</div>
  <div>out 11 {{out11|safe}}</div>
  <div>out 12 {{out12|safe}}</div>
  <div>out 13 {{out13|safe}}</div>
  
  
</body>
</html>